@using IECHClinic.DataAccess
@model IECHClinic.Models.UsuarioVM
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-heading bg-primary text-white">
    <div>
        Cambiar Contraseña
    </div>
</div>

<!-- START card-->
<div class="row">
    <div class="col-lg-12">

        <div class="card-body">
            @Html.HiddenFor(x => Model.Estado)

            @Html.HiddenFor(x => Model.intUsuario)
            <div class="form-group row">
                <div class="col-lg-4">
                    Contraseña Actual
                    <div class="input-group">
                        <input type="password" id="txtPassWordActual" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-4">
                    Nueva Contraseña
                    <div class="input-group">
                        <input type="password" id="txtPass" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-4">
                    Repita Contraseña
                    <div class="input-group">
                        <input type="password" id="txtPass2" class = "form-control"/>
                    </div>
                </div>
            </div>  
            <div class="form-group row">
                <div class="col-lg-12">
                    <div class="col-lg-3 btn btn-dark float-right" id="actualizaPass-btn">
                        Actualizar
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row" id="EditView-wrapper">
            <div class="col-lg-12">
                <div class="card card-default">
                    <div class="card-header text-white bg-primary mb-3">
                        <h5>Editar Usuario</h5>
                    </div>
                    <div class="card-body">
                        <div id="EditForm-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-default">
                    <div class="card-header text-white bg-primary mb-3">
                        <h5>Listado</h5>
                    </div>
                    <div class="card-wrapper collapse show">
                        <div class="card-body">
                            <div id="EmpleadosForm-wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>

</div>

@section Styles {
    <link rel="stylesheet" href="~/vendor/sweetalert/dist/sweetalert.css" />
    <link rel="stylesheet" href="~/vendor/sweetalert2/sweetalert2.min.css" />

    <link rel="stylesheet" href="~/vendor/animate.css/animate.css">
    <!-- WHIRL (spinners)-->
    <link rel="stylesheet" href="~/vendor/whirl/dist/whirl.css">
    <!-- =============== PAGE VENDOR STYLES ===============-->
    <!-- Datatables-->
    <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link rel="stylesheet" href="../css/bootstrap.css" id="bscss">
    <link rel="stylesheet" href="~/vendor/holdon/HoldOn.min.css" />
}

@section Scripts {
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/vendor/sweetalert2/sweetalert2.min.js"></script>

    <!-- =============== VENDOR SCRIPTS ===============-->
    <!-- MODERNIZR-->
    <script src="~/vendor/modernizr/modernizr.custom.js"></script>
    <!-- JQUERY-->
    <script src="~/vendor/jquery/dist/jquery.js"></script>
    <!-- BOOTSTRAP-->
    <script src="~/vendor/popper.js/dist/umd/popper.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- STORAGE API-->
    <script src="~/vendor/js-storage/js.storage.js"></script>
    <!-- JQUERY EASING-->
    <script src="~/vendor/jquery.easing/jquery.easing.js"></script>
    <!-- ANIMO-->
    <script src="~/vendor/animo/animo.js"></script>
    <!-- SCREENFULL-->
    <script src="~/vendor/screenfull/dist/screenfull.js"></script>
    <!-- LOCALIZE-->
    <script src="~/vendor/jquery-localize/dist/jquery.localize.js"></script>
    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <!-- Datatables-->
    <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
    <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendor/jszip/dist/jszip.js"></script>
    <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
    <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/easytimer.js@4.0.2/dist/easytimer.min.js"></script>
    <script src="~/vendor/holdon/HoldOn.min.js"></script>

    <script type="text/javascript">


        $(document).on("click", "#actualizaPass-btn", function (e) {
            e.preventDefault();

            var passWordActual = document.getElementById('txtPassWordActual').value;
            var pass = document.getElementById('txtPass').value;
            var pass2 = document.getElementById('txtPass2').value;

            if (passWordActual == '') {
                Swal.fire({ title: "Faltan Datos!", text: "Indique la contraseña actual", type: 'info', });
            } else {
                if ((pass == '') || (pass2 == '')) {
                    Swal.fire({ title: "Faltan Datos!", text: "Indique la nueva contraseña 2 veces.", type: 'info', });
                } else {
                    if (pass != pass2) {
                        Swal.fire({ title: "Las contraseñas no coinciden", text: "Los campos de Nueva Contraseña y confirmación no son iguales.", type: 'info', });
                    } else {
                       $.ajax({
                type: "POST",
                url: "@Url.Action("ActualizaPass", "Usuario")",
                data: {
                    strPassActual : passWordActual,
                    strNewPass1 : pass,
                    strNewPass2: pass2
                },
                datatype: "json",
                traditional: true,
                beforeSend: function () {
                    HoldOn.open({
                        theme: "sk-cube-grid"
                    });
                },
                complete: function () {
                    HoldOn.close();
                },
                success: function (data) {
                    data = JSON.parse(data)
                    if (data.OK) {
                        Swal.fire({ title: "Datos actualizados", text: data.Mensaje, type: 'success', });
                        HoldOn.close();
                        // ListarUsuarios();
                    } else {
                        Swal.fire({ title: "Error!", text: data.Mensaje, type: 'error', });
                    }
                },
                error: function (data) {
                    console.log("Error", "Error al eliminar la Mesa.", "error");
                    HoldOn.close();
                }
            });
                    }

                }
            }

    });






        function LimpiaDiv(elementID) {
            var div = document.getElementById(elementID);
            while (div.firstChild) {
                div.removeChild(div.firstChild);

            }
        }

    </script>
}
