@{
    ViewBag.Title = "Acerca de Nosotros";
}
<h2>@ViewBag.Title.</h2> 

<address>
    Acerca de nosotros<br />
    Propósito<br />
    Aquí va el propósito del laboratorio como empresa.<br /><br /><br />

    Visión<br />
    Ser set el mejor laboratorio <br />servicios útiles, atractivos y accesibles para sus clientes.<br /><br /><br />

    Valores<br />
    - Confianza.<br />
    - Responsabilidad.<br />
    - Atención y servicio.<br />
    - Eficiencia y sencillez.<br />
    - Innovación.<br />
    - Etc.<br />
    - Etc.<br />
    - Etc.<br /><br /><br />
    Historia<br />
    El origen del laboratorio se va a poner aqui, <br />podemos echar un rollo.<br />

    Y sigue<br />
    Y sigue<br />
    Y sigue<br />
    Y sigue<br />
    Y sigue<br />
    Y sigue<br />
    
    


</address>
