@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Acerca de nosotros<br />
    Propósito<br />
    Acompañarte en tus necesidades y deseos, acercándote un mundo de posibilidades para que mejores tu vida.<br /><br /><br />

    Visión<br />
    Ser la tienda omnicanal y de servicios financieros personales y digitales, favorita del mercado masivo, que ofrece una gran variedad de categorías de productos y <br />servicios útiles, atractivos y accesibles, de marcas líderes, que atienden las necesidades, así como los deseos de sus clientes.<br /><br /><br />

    Valores<br />
    - Confianza.<br />
    - Responsabilidad.<br />
    - Atención y servicio.<br />
    - Eficiencia y sencillez.<br />
    - Innovación.<br /><br /><br />
    Historia<br />
    El origen de Tiendas Coppel se remonta a 1941, cuando don Luis Coppel Rivas decidió, junto con su hijo Enrique Coppel Tamayo, trasladarse de Mazatlán a Culiacán, <br />Sinaloa para establecer una tiendita que se llamó El Regalo, y que con el tiempo terminó vendiendo radios y relojes.<br />

    Después de la Segunda Guerra Mundial, los clientes no tenían liquidez para comprar de contado, por lo que nace en ellos el deseo de obtener crédito. Entonces, don Luis<br /> Coppel y su hijo Enrique decidieron invertir todo su capital ahorrado para vender muebles a crédito en cómodos abonos semanales. Así, confiar en la palabra<br /> del cliente convierte a El Regalo en una tienda mueblera con sistema de crédito, y es justo cuando adopta el nombre de Coppel: la forma en que la llamaban los clientes. <br />Con el paso del tiempo se introdujeron nuevas líneas de productos, entre ellas el área de ropa.

    El resto es una historia de trabajo y dedicación basada en principios sólidos, como la sencillez, la confianza y el diálogo con el cliente.<br /><br /><br />

    Si quieres conocer más acerca de nosotros puedes visitarnos en calle República 2855 poniente, Colonia Recursos Hidráulicos, en Culiacán, Sinaloa, C.P. 80105.<br />

    Sostenibilidad & ASG
    La naturaleza transversal de las actividades y criterios ASG tienen un alcance horizontal, vinculándose con todas las unidades del negocio y áreas funcionales de Grupo Coppel, en una relación de colaboración permanente en todos los ámbitos en los que impactan.<br /><br />

    La gestión de los criterios ASG permite ampliar el alcance en tres pilares que fortalecen la visión hacia la identificación de impactos generados en las áreas: Ambiental, Social y de Gobierno corporativo. Generamos y operamos iniciativas de impacto estratégico, para crear valor compartido que contribuye a la sostenibilidad del negocio.<br />
</address>
